.wrapper {
  display: flex;
  flex-direction: column;
}
.collection-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.route-wrapper div {
  transition: all 0.3s ease;
  cursor: pointer;
}

.route-wrapper div:hover {
  background: black;
}

.mockazzoHeader {
  height: 100%;
}

.mockazzoForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin-inline: auto;
  margin-top: 16px;
}
